{% extends 'account_template.html' %}
{% block content %}
					<form method="POST" action="" class="form-vertical">
						{{ form.hidden_tag() }}
						<div class="module-head">
							<h3>Sign Up</h3>
						</div>
						<div class="module-body">
							<div class="control-group">
								<div class="controls row-fluid">
				                    {{ form.username.label(class="form-control-label") }}
									{% if form.username.errors %}
                        				{{ form.username(class="span12 is-invalid") }}
					                        <div class="invalid-feedback">
					                            {% for error in form.username.errors %}
					                                <span>{{ error }}</span>
					                            {% endfor %}
					                        </div>
				                    {% else %}
				                        {{ form.username(class="span12") }}
				                    {% endif %}
									
								</div>
							</div>
							<div class="control-group">
								<div class="controls row-fluid">
				                    {{ form.password.label(class="form-control-label") }}
									{% if form.password.errors %}
                        				{{ form.password(class="span12 is-invalid") }}
					                        <div class="invalid-feedback">
					                            {% for error in form.password.errors %}
					                                <span>{{ error }}</span>
					                            {% endfor %}
					                        </div>
				                    {% else %}
				                        {{ form.password(class="span12") }}
				                    {% endif %}
									
								</div>
							</div>
							<div class="control-group">
								<div class="controls row-fluid">
				                    {{ form.confirm_password.label(class="form-control-label") }}
									{% if form.confirm_password.errors %}
                        				{{ form.confirm_password(class="span12 is-invalid") }}
					                        <div class="invalid-feedback">
					                            {% for error in form.confirm_password.errors %}
					                                <span>{{ error }}</span>
					                            {% endfor %}
					                        </div>
				                    {% else %}
				                        {{ form.confirm_password(class="span12") }}
				                    {% endif %}
									
								</div>
							</div>
						</div>
						<div class="module-foot">
							<div class="control-group">
								<div class="controls clearfix">
									{{ form.submit(class="btn btn-primary pull-right") }}
								</div>
							</div>
						</div>
					</form>
{% endblock content %}